<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ide.name %>
</p>

<p>
  <strong>String:</strong>
  <%= @ide.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ide.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @ide.picture %>
</p>

<p>
  <strong>String:</strong>
  <%= @ide.string %>
</p>

<%= link_to 'Edit', edit_ide_path(@ide) %> |
<%= link_to 'Back', ides_path %>
